.name{	
	behavior: url('css/PIE.htc');
	zoom:1;
	position: relative;
}
.name {
	background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#30000000,endColorstr=#30000000);
    zoom: 1;
}