@import url(fonst.css);





/*-------------------------------------------------*/
/* =  basic.begin
/*-------------------------------------------------*/
html,
body {
	overflow-x: hidden;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background: #fff;
	color: #000;
	text-align: left;
	font-family: 'Lato', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 18px;
	line-height: 1.25;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

input,
select,
button,
textarea {
	font-family: 'Lato', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	outline: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	cursor: pointer;
	-webkit-appearance: button;
}


a {
	color: #287fc3;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #1D80A9;
	text-decoration: none;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #333;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #333;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #333;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #333;
}

p {
	margin: 10px 0;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-capitalize {
	text-transform: capitalize;
}

img {
	height: auto;
	max-width: 100%;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 202px;
}

@media screen and (max-width: 1200px) {

	body {
		margin-bottom: 0;
	}

}


.container {
	max-width: 1195px;
	width: auto;
	position: relative;
	z-index: 99;
	-webkit-transition: padding .4s;
	transition: padding .4s;
}

.color-blue {
	color: #1D80A9;
}

.b-title {
	font-size: 51px;
	line-height: 1;
	font-family: 'abeatbykairegular', 'Lato', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	text-align: center;
	margin: 25px 0 30px;
}

.b-title-55 {
	font-size: 55px;
}

@media screen and (max-width: 600px) {

	.b-title {
		font-size: 45px;
	}

}

@media screen and (max-width: 479px) {

	.b-title {
		font-size: 40px;
	}

}




.headline {
	text-align: center;
	margin: 0 auto 40px auto;
}

.b-text {
	max-width: 1110px;
	margin: 25px auto;
	line-height: 1.6;
	font-size: 18px;
}

.b-text>h2 {
	font-size: 22px;
	line-height: 1;
	color: #333;
	margin-bottom: 18px;
}






/* --------------------- social ------------------- */

.social {
	text-align: right;
}

.social__list {
	padding: 0;
	margin: 0;
	font-size: 0;
	padding-top: 15px;
}

.social__item {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	margin-left: 6px;
	color: #fff;
	list-style: none;
}

.social__item:first-child {
	margin-right: 15px;
}

.social__link {
	padding: 0;
	display: block;
	width: 38px;
	height: 38px;
	line-height: 34px;
	font-size: 22px;
	text-align: center;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-transition: .3s;
	transition: .3s;
}

.social__link:hover {
	color: #fff;
	border-color: transparent;
}

.social__link--fb:hover {
	background: #4867AA;
}

.social__link--tw:hover {
	background: #1C9CEB;
}

.social__link--in:hover {
	background: #0077B5
}

.social__link--gp {
	font-size: 20px;
}

.social__link--gp:hover {
	background: #EA4335;
}

@media screen and (max-width: 767px) {

	.social {
		text-align: center;
	}

	.social__list {
		padding: 15px 0;
	}

}

@media screen and (max-width: 479px) {

	.social {
		text-align: center;
	}

	.social__item:first-child {
		display: block;
		margin: 10px;
	}

}

/*-------------------------------------------------*/
/* =  basic.end
/*-------------------------------------------------*/







/*-------------------------------------------------*/
/* =  preloader.begin
/*-------------------------------------------------*/

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #f7f7f7;
	z-index: 100500;
	transition: opacity .5s ease-in-out;
}

.preloader__icon {
	width: 48px;
	height: 48px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -24px 0 0 -24px;
	border: 2px solid #ccc;
	border-radius: 50%;
}

.preloader__icon::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	border: 2px solid transparent;
	border-top-color: #1D80A9;
	border-radius: 50%;
	animation: rotatePreloader 1s linear infinite;
}

.preloader--hidden {
	opacity: 0;
	z-index: -1;
	text-indent: -9999px;
}

@keyframes rotatePreloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*-------------------------------------------------*/
/* =  preloader.end
/*-------------------------------------------------*/








/*-------------------------------------------------*/
/* =  header.begin
/*-------------------------------------------------*/

.header-tradeinspace {
	position: relative;
	background: #01060C;
}

.header-tradeinspace-circle-down {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
	position: absolute;
	bottom: 66px;
	left: 50%;
	margin-left: -20px;
	z-index: 1;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.header-tradeinspace-circle-down:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	border: 2px solid #fff;
	border-left: none;
	border-top: none;
	margin: -12px 0 0 -9px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.header-tradeinspace-circle-down:hover,
.header-tradeinspace-circle-down:focus,
.header-tradeinspace-circle-down:active {
	opacity: .7;
}

/*-------------------------------------------------*/
/* =  header.end
/*-------------------------------------------------*/









/*-------------------------------------------------*/
/* =  carousel.begin
/*-------------------------------------------------*/

#carousel-tradeinspace {
	position: relative;
}

#carousel-tradeinspace .carousel-pict {
	position: relative;
	min-height: 650px;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}

#carousel-tradeinspace .carousel-pict:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

#carousel-tradeinspace .carousel-pict-1 {
	background: #08111B url('../img/slider/01.jpg') no-repeat center top;
}

#carousel-tradeinspace .carousel-pict-2 {
	background: #08111B url('../img/slider/02.jpg') no-repeat center top;
}

#carousel-tradeinspace .carousel-pict-3 {
	background: #08111B url('../img/slider/03.jpg') no-repeat center top;
}

#carousel-tradeinspace .carousel-control {
	opacity: 1;
}

#carousel-tradeinspace .carousel-control-prev,
#carousel-tradeinspace .carousel-control-next {
	position: absolute;
	top: 50%;
	margin-top: -23px;
	width: 66px;
	height: 66px;
	border: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: .3s;
	transition: .3s;
}

#carousel-tradeinspace .carousel-control-prev {
	left: 15%;
	border-top: none;
	border-right: none;
}

#carousel-tradeinspace .carousel-control-next {
	right: 15%;
	border-left: none;
	border-bottom: none;
}

#carousel-tradeinspace .carousel-control-prev:hover,
#carousel-tradeinspace .carousel-control-prev:focus,
#carousel-tradeinspace .carousel-control-prev:active,
#carousel-tradeinspace .carousel-control-next:hover,
#carousel-tradeinspace .carousel-control-next:focus,
#carousel-tradeinspace .carousel-control-next:active {
	border-color: #1D80A9;
}

#carousel-tradeinspace .carousel-caption {
	font-size: 40px;
	color: #fff;
	line-height: 1.3;
	font-family: 'abeatbykairegular', 'Lato', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	position: absolute;
	bottom: 23%;
	left: 0;
	width: 100%;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

#carousel-tradeinspace .carousel-caption>img {
	display: block;
	margin: 0 auto 15px auto;
}

@media screen and (max-width: 767px) {

	#carousel-tradeinspace .carousel-control-prev {
		left: 25%;
	}

	#carousel-tradeinspace .carousel-control-next {
		right: 25%;
	}

}

@media screen and (max-width: 479px) {

	#carousel-tradeinspace .carousel-control-prev {
		left: 35%;
	}

	#carousel-tradeinspace .carousel-control-next {
		right: 35%;
	}

	#carousel-tradeinspace .carousel-caption {
		font-size: 30px;
	}

}

@media screen and (max-width: 359px) {

	#carousel-tradeinspace .carousel-pict {
		min-height: 500px;
	}

}

/*-------------------------------------------------*/
/* =  carousel.end
/*-------------------------------------------------*/









/*-------------------------------------------------*/
/* =  navbar.begin
/*-------------------------------------------------*/

body.fixed .section .container {
	padding-top: 95px;
}

body.fixed #navbar-tradeinspace {
	background: rgba(0, 0, 0, 0.9);
	background: #000;
}

body.fixed #navbar-tradeinspace .navbar-brand {
	height: auto;
}

body.fixed #navbar-tradeinspace .navbar-brand>img {
	max-width: 100px;
}

body.fixed #navbar-tradeinspace .navbar-tel {
	display: none;
}

body.fixed #navbar-tradeinspace .navbar-nav>li>a {
	padding: 50px 25px 5px;
}

body.fixed #navbar-tradeinspace .navbar-nav>li>a:before {
	top: 10px;
}

#navbar-tradeinspace {
	background: transparent;
	box-shadow: none;
	border-color: transparent;
	-webkit-transition: .5s;
	transition: .5s;
}

#navbar-tradeinspace .navbar-brand>img {
	max-width: 277px;
}

#navbar-tradeinspace .navbar-tel {
	text-align: right;
	margin: 35px 0 48px;
}

#navbar-tradeinspace .navbar-tel>a {
	display: inline-block;
	vertical-align: top;
	padding-left: 60px;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-decoration: none;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

#navbar-tradeinspace .navbar-tel>a:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	background: url('../img/sprites-icons.png') no-repeat -36px -26px;
	width: 50px;
	height: 46px;
	margin-top: -23px;
}

#navbar-tradeinspace .navbar-tel>a:hover,
#navbar-tradeinspace .navbar-tel>a:focus,
#navbar-tradeinspace .navbar-tel>a:active {
	color: #fff;
	text-decoration: none;
	opacity: .8;
}


#navbar-tradeinspace .navbar-nav>li:before {
	content: '';
	position: absolute;
	bottom: 7px;
	right: 0;
	height: 20px;
	width: 1px;
	background: rgba(255, 255, 255, 0.271);
}

#navbar-tradeinspace .navbar-nav>li:last-child:before {
	background: none;
}

#navbar-tradeinspace .navbar-nav>li>a {
	font-size: 18.32px;
	font-weight: 300;
	color: #fff;
	line-height: 1;
	text-decoration: none;
	padding: 44px 34px 10px;
	position: relative;
	text-shadow: none;
}

#navbar-tradeinspace .navbar-nav>li:last-child>a {
	padding-right: 10px;
}

#navbar-tradeinspace .navbar-nav>li>a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	background: url('../img/sprites-icons.png') no-repeat -126px -30px;
	width: 38px;
	height: 35px;
	margin-left: -19px;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: transform .3s;
	transition: transform .3s;
}

#navbar-tradeinspace .navbar-nav>li:last-child>a:before {
	margin-left: -13px;
}

#navbar-tradeinspace .navbar-nav>li>a>span {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

#navbar-tradeinspace .navbar-nav>li>a>span:before {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 0;
	width: 0;
	height: 1px;
	background: rgba(255, 255, 255, 0.271);
	-webkit-transition: width .3s linear;
	transition: width .3s linear;
}

#navbar-tradeinspace .navbar-nav>li>a:hover>span:before {
	width: 100%;
}

#navbar-tradeinspace .navbar-nav>li>a:hover,
#navbar-tradeinspace .navbar-nav>li>a:focus {
	color: #fff;
	background-color: transparent;
}

#navbar-tradeinspace .navbar-nav>li>a:hover:before,
#navbar-tradeinspace .navbar-nav>.active>a:before,
#navbar-tradeinspace .navbar-nav>.active>a:hover:before,
#navbar-tradeinspace .navbar-nav>.active>a:focus:before {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

#navbar-tradeinspace .navbar-nav>.open>a,
#navbar-tradeinspace .navbar-nav>.active>a,
#navbar-tradeinspace .navbar-nav>.active>a:hover,
#navbar-tradeinspace .navbar-nav>.active>a:focus {
	color: #fff;
	background: transparent;
	box-shadow: none;
	filter: none;
}

#navbar-tradeinspace .navbar-nav>.active>a>span:before {
	width: 100%;
}

#navbar-tradeinspace .navbar-toggle {
	margin-top: 30px;
	border-radius: 0;
	border: none;
}

#navbar-tradeinspace .navbar-toggle:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 64px;
	height: 57px;
	margin: -28.5px 0 0 -32px;
	background: url('../img/sprites-icons.png') no-repeat -1145px -203px;
}

#navbar-tradeinspace .navbar-toggle .icon-bar {
	background-color: #fff;
}

#navbar-tradeinspace .navbar-toggle:hover,
#navbar-tradeinspace .navbar-toggle:focus {
	background-color: transparent;
	opacity: 0.7;
}


@media screen and (max-width: 992px) {

	#navbar-tradeinspace .navbar-nav>li>a {
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media screen and (max-width: 767px) {

	#navbar-tradeinspace .navbar-brand>img {
		max-width: 100px;
	}

	#navbar-tradeinspace .navbar-collapse {
		border: none;
		background: #000;
	}

	#navbar-tradeinspace .navbar-tel {
		text-align: left;
		margin: 25px 0 15px;
	}

	#navbar-tradeinspace .navbar-nav>li>a,
	body.fixed #navbar-tradeinspace .navbar-nav>li>a {
		padding: 15px;
	}

	#navbar-tradeinspace .navbar-nav>li>a:before {
		display: none;
	}

	#navbar-tradeinspace .navbar-nav>li:before {
		background: none;
	}

}

/*-------------------------------------------------*/
/* =  navbar.end
/*-------------------------------------------------*/










/*-------------------------------------------------*/
/* =  content.begin
/*-------------------------------------------------*/

.section .container {
	padding-top: 35px;
	padding-bottom: 35px;
}



/* ------------------------ section-1 ------------------------ */

.section-1 {
	position: relative;
	min-height: 607px;
	background: #ccc url('../img/bg/section-1.jpg') no-repeat center top fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.section-1:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 1;
}

.section-1 .container {
	padding-top: 45px;
}

@media screen and (max-width: 767px) {

	.section-1 .container {
		padding-top: 35px;
	}

}



.our-missions {
	max-width: 1110px;
	margin: 0 auto;
}

.our-mission {
	display: table;
	width: 100%;
	height: 142px;
	margin: 30px 0;
}

.our-mission-cell {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.3;
}

.our-mission-cell:nth-of-type(1) {
	width: 170px;
}

.our-mission-cell>h2 {
	font-size: 30px;
	line-height: 1;
	font-weight: 700;
	font-family: 'abeatbykairegular', 'Lato', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	margin: 3px 0 10px;
}

.our-mission-pict {
	width: 142px;
	height: 142px;
	line-height: 142px;
	text-align: center;
	border: 2px solid #353535;
	border-radius: 50%;
}

.our-mission-pict>[class*=i-] {
	display: inline-block;
	vertical-align: middle;
}

.our-mission-pict>.i-1 {
	position: relative;
	left: 7px;
	top: -3px;
	background: url('../img/sprites-icons.png') no-repeat -27px -173px;
	width: 86px;
	height: 71px;
}

.our-mission-pict>.i-2 {
	background: url('../img/sprites-icons.png') no-repeat -145px -157px;
	width: 76px;
	height: 87px;
}

@media screen and (max-width: 479px) {

	.our-mission {
		display: block;
		width: 100%;
		height: auto;
		text-align: center;
	}

	.our-mission-first {
		margin-top: 0;
	}

	.our-mission-cell,
	.our-mission-cell:nth-of-type(1) {
		display: block;
		width: 100%;
	}

	.our-mission-pict {
		margin: 0 auto 15px auto;
	}

}







/* ------------------------ section-2 ------------------------ */

.section-2 {
	position: relative;
	min-height: 589px;
	background: #08111B url('../img/bg/section-2.jpg') no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
}

.section-2:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.section-2 .container {
	color: #fff;
}

.section-2 .container .b-title {
	margin-bottom: 22px;
}



.what-we-do-item {
	max-width: 335px;
	margin: 18px auto;
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
}

.what-we-do-item-pict {
	position: relative;
	line-height: 140px;
	text-align: center;
	background: url('../img/sprites-icons.png') no-repeat -849px -33px;
	width: 152px;
	height: 140px;
	margin: 0 auto 33px auto;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.what-we-do-item-pict:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 152px;
	height: 140px;
	background: url('../img/sprites-icons.png') no-repeat -1057px -34px;
	margin: 0px 0 0 -76px;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.what-we-do-item-pict>[class*=i-] {
	display: inline-block;
	vertical-align: middle;
}

.what-we-do-item-pict>[class*=i-]:before,
.what-we-do-item-pict>[class*=i-]:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.what-we-do-item-pict>[class*=i-]:after {
	opacity: 0;
}

.what-we-do-item-pict>.i-1:before,
.what-we-do-item-pict>.i-1:after {
	width: 53px;
	height: 58px;
	margin: -29px 0 0 -26.5px;
}

.what-we-do-item-pict>.i-1:before {
	background: url('../img/sprites-icons.png') no-repeat -862px -219px;
}

.what-we-do-item-pict>.i-1:after {
	background: url('../img/sprites-icons.png') no-repeat -862px -323px;
}

.what-we-do-item-pict>.i-2:before,
.what-we-do-item-pict>.i-2:after {
	width: 57px;
	height: 50px;
	margin: -25px 0 0 -28.5px;
}

.what-we-do-item-pict>.i-2:before {
	background: url('../img/sprites-icons.png') no-repeat -944px -219px;
}

.what-we-do-item-pict>.i-2:after {
	background: url('../img/sprites-icons.png') no-repeat -952px -329px;
}

.what-we-do-item-pict>.i-3:before,
.what-we-do-item-pict>.i-3:after {
	width: 54px;
	height: 55px;
	margin: -29px 0 0 -35px;
}

.what-we-do-item-pict>.i-3:before {
	background: url('../img/sprites-icons.png') no-repeat -1030px -216px;
}

.what-we-do-item-pict>.i-3:after {
	background: url('../img/sprites-icons.png') no-repeat -1038px -326px;
}


.what-we-do-item-caption {
	font-family: 'abeatbykairegular', 'Lato', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 23px;
	color: rgb(255, 255, 255);
	line-height: 1.3;
}

.what-we-do-item:hover .what-we-do-item-pict {
	background: transparent;
}

.what-we-do-item:hover .what-we-do-item-pict:before,
.what-we-do-item:hover .what-we-do-item-pict>[class*=i-]:after {
	opacity: 1;
}

.what-we-do-item:hover .what-we-do-item-pict>[class*=i-]:before {
	opacity: 0;
}

.what-we-do-item:hover .what-we-do-item-caption {
	color: #1D80A9;
}

@media screen and (max-width: 767px) {

	.what-we-do-item {
		margin: 25px auto;
		max-width: 500px;
	}

	.what-we-do-item-first {
		margin-top: 0;
	}

	.what-we-do-item-pict {
		margin: 0 auto 10px auto;
	}

}








/* ------------------------ section-3 ------------------------ */

.section-3 {
	position: relative;
	min-height: 766px;
	background: #ccc url('../img/bg/section-3.jpg') no-repeat center top fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.section-3:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	z-index: 1;
}



#tabs-tradeinspace-teams .nav-tabs {
	text-align: center;
	border-bottom: 1px solid transparent;
}

#tabs-tradeinspace-teams .nav-tabs>li {
	width: 33.3333%;
}

#tabs-tradeinspace-teams .nav-tabs>li>a {
	color: #010D31;
	text-decoration: none;
	font-size: 23px;
	line-height: 1.3;
	font-family: 'abeatbykairegular', 'Lato', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	position: relative;
}

#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo {
	width: 152px;
	height: 140px;
	display: block;
	margin: 0 auto 12px auto;
	overflow: hidden;
}

#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo:before,
#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo:after {
	content: '';
	width: 152px;
	height: 140px;
	display: inline-block;
	vertical-align: top;
	z-index: 99;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo:before {
	background: url('../img/sprites-icons.png') no-repeat -1272px -26px;
}

#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo:after {
	background: url('../img/sprites-icons.png') no-repeat -1057px -34px;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -76px;
	opacity: 0;
}

#tabs-tradeinspace-teams .nav-tabs>li>a:hover .nav-tab-photo:before,
#tabs-tradeinspace-teams .nav-tabs>li.active>a .nav-tab-photo:before {
	opacity: 0;
}

#tabs-tradeinspace-teams .nav-tabs>li>a:hover .nav-tab-photo:after,
#tabs-tradeinspace-teams .nav-tabs>li.active>a .nav-tab-photo:after {
	opacity: 1;
}

#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo>img {
	position: absolute;
	top: 0;
	left: 50%;
	width: 140px;
	height: 140px;
	margin: 0px 0 0 -70px;
	z-index: -1;
	-webkit-clip-path: polygon(50% 13%, 100% 31%, 81% 78%, 30% 100%, 0 46%);
	clip-path: polygon(50% 13%, 100% 31%, 81% 78%, 30% 100%, 0 46%);
	-webkit-clip-path: url("#clipPolygon");
	clip-path: url("#clipPolygon");
}

#tabs-tradeinspace-teams .nav-tabs>li.active>a:before,
#tabs-tradeinspace-teams .nav-tabs>li.active>a:after {
	content: '';
	position: absolute;
	left: 47%;
	width: 1px;
	background: #B7BABF;
}

#tabs-tradeinspace-teams .nav-tabs>li.active>a:before {
	bottom: -21px;
	margin-left: -0.5px;
	height: 28px;
}

#tabs-tradeinspace-teams .nav-tabs>li.active>a:after {
	bottom: -25px;
	margin-left: -12px;
	height: 36px;
	-webkit-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
}

#tabs-tradeinspace-teams .nav-tabs>li.active>a,
#tabs-tradeinspace-teams .nav-tabs>li.active>a:hover,
#tabs-tradeinspace-teams .nav-tabs>li.active>a:focus {
	color: #1E80A9;
	border: 1px solid transparent;
	background: transparent;
	cursor: default;
}

#tabs-tradeinspace-teams .nav-tabs>li.active>a .nav-tab-photo {
	border-color: #1E80A9;
}

#tabs-tradeinspace-teams .nav-tabs>li>a:hover {
	border: 1px solid transparent;
	background: transparent;
}

#tabs-tradeinspace-teams .tab-content {
	text-align: center;
	margin-top: 20px;
	padding: 16px 40px 28px;
	font-size: 23px;
	color: rgb(51, 51, 51);
	line-height: 1.5;
	border: 1px solid #B7BABF;
	border-radius: 7px;
}


/* css hack for ie11 (ie not support clippath) */

_:-ms-fullscreen,
:root #tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo {
	width: 140px;
	height: 140px;
	border: 5px solid #010D31;
}

_:-ms-fullscreen,
:root #tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo:before,
#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo:after {
	display: none;
}

_:-ms-fullscreen,
:root #tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo>img {
	position: relative;
	left: 0;
	margin-left: 0;
}

_:-ms-fullscreen,
:root #tabs-tradeinspace-teams .nav-tabs>li.active>a .nav-tab-photo {
	border-color: #1E80A9;
}


/* css hack for ie10 (ie not support clippath) */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo {
		width: 140px;
		height: 140px;
		border: 5px solid #010D31;
	}

	#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo:before,
	#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo:after {
		display: none;
	}

	#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo>img {
		position: relative;
		left: 0;
		margin-left: 0;
	}

	#tabs-tradeinspace-teams .nav-tabs>li.active>a .nav-tab-photo {
		border-color: #1E80A9;
	}
}


/* css hack for ie9 (ie not support clippath) */

@media screen and (min-width:0\0) and (min-resolution: .001dpcm) {

	#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo {
		width: 140px;
		height: 140px;
		border: 5px solid #010D31;
	}

	#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo:before,
	#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo:after {
		display: none;
	}

	#tabs-tradeinspace-teams .nav-tabs>li>a .nav-tab-photo>img {
		position: relative;
		left: 0;
		margin-left: 0;
	}

	#tabs-tradeinspace-teams .nav-tabs>li.active>a .nav-tab-photo {
		border-color: #1E80A9;
	}

}

@media screen and (max-width: 767px) {

	#tabs-tradeinspace-teams .nav-tabs>li.active>a:before {
		display: none;
	}

	#tabs-tradeinspace-teams .tab-content {
		margin-top: 10px;
		padding: 15px;
		font-size: 18px;
	}

	#tabs-tradeinspace-teams .nav-tabs-responsive>li {
		display: none;
	}

	#tabs-tradeinspace-teams .nav-tabs-responsive>li>a {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;
		width: 100%;
		text-align: center;
		vertical-align: top;
	}

	#tabs-tradeinspace-teams .nav-tabs-responsive>li.active {
		width: 100%;
		display: block;
	}

	#tabs-tradeinspace-teams .nav-tabs-responsive>li>[class*=prev],
	#tabs-tradeinspace-teams .nav-tabs-responsive>li>[class*=next] {
		position: absolute;
		top: 50%;
		margin-top: -25px;
		width: 34px;
		height: 34px;
		border: 1px solid #000;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		cursor: pointer;
		-webkit-transition: .3s;
		transition: .3s;
	}

	#tabs-tradeinspace-teams .nav-tabs-responsive>li>[class*=prev] {
		left: 0;
		border-top: none;
		border-right: none;
	}

	#tabs-tradeinspace-teams .nav-tabs-responsive>li>[class*=next] {
		right: 0;
		border-bottom: none;
		border-left: none;
	}

	#tabs-tradeinspace-teams .nav-tabs-responsive>li>[class*=prev]:hover,
	#tabs-tradeinspace-teams .nav-tabs-responsive>li>[class*=next]:hover {
		border-color: #1E80A9;
	}

}

@media screen and (max-width: 479px) {

	#tabs-tradeinspace-teams .nav-tabs>li>a {
		font-size: 18px;
	}

}









/* ------------------------ section-4 ------------------------ */

.section-4 {
	position: relative;
	min-height: 661px;
	background: #08111B url('../img/bg/section-4.jpg') no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
}

.section-4:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1;
}

.section-4 .container {
	color: #fff;
}


.latest-stori {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	line-height: 1.5;
	-webkit-transition: .3s;
	transition: .3s;
}

.latest-stori-pict {
	display: block;
	line-height: 0;
	margin-bottom: 30px;
	overflow: hidden;
	max-height: 240px;
}

.latest-stori-pict>img {
	-webkit-transition: transform .4s;
	transition: transform .4s;
}

.latest-stori-title {
	font-size: 18px;
	color: rgb(30, 128, 169);
	font-weight: bold;
	line-height: 1.4;
}

.latest-stori-date,
.latest-stori-text {
	display: block;
}

.latest-stori:hover,
.latest-stori:focus,
.latest-stori:active {
	color: rgb(30, 128, 169);
	text-decoration: none;
}

.latest-stori:hover .latest-stori-pict>img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}


@media screen and (max-width: 767px) {

	.latest-stori {
		margin-bottom: 30px;
	}

	.latest-stori-pict {
		margin-bottom: 5px;
		max-height: 600px;
	}

	.latest-stori-pict>img {
		width: 100%;
	}

}











/* ------------------------ section-5 ------------------------ */

.section-5 {
	position: relative;
	min-height: 464px;
	background: #ccc url('../img/bg/section-5.jpg') no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
}

.section-5:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.9);
	z-index: 1;
}

.mailing-list {
	margin-top: 25px;
}

.mailing-list-item {
	margin-bottom: 15px;
}

.mailing-list-item p {
	line-height: 1.4;
}

.mailing-list-title {
	margin-bottom: 22px;
}

.contacts-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.contacts-list>li {
	padding-left: 42px;
	margin: 25px 0;
	position: relative;
	font-size: 17px;
	color: rgb(51, 51, 51);
}

.contacts-list>li:before {
	content: '';
	font-family: 'FontAwesome';
	font-size: 22px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -17px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	color: #010D31;
	border: 1px solid #010D31;
	line-height: 32px;
	text-align: center;
}

.contacts-list>li.adres:before {
	content: '\f041';
}

.contacts-list>li.tel:before {
	content: '\f095';
	font-size: 24px;
}

.contacts-list>li.mail:before {
	content: '\f0e0';
	font-size: 19px;
}

.contacts-list>li>a {
	color: rgb(51, 51, 51);
	text-decoration: none;
	-webkit-transition: .3s;
	transition: .3s;
}

.contacts-list>li:hover,
.contacts-list>li>a:hover,
.contacts-list>li>a:focus,
.contacts-list>li>a:active {
	color: #1D80A9;
	text-decoration: none;
}

.contacts-list>li:hover:before {
	color: #1D80A9;
	border-color: #1D80A9;
}

/*-------------------------------------------------*/
/* =  conten.end
/*-------------------------------------------------*/








/*-------------------------------------------------*/
/* =  forms.begin
/*-------------------------------------------------*/

#form-tradeinspace {
	max-width: 470px;
	margin-top: 32px;
	width: 100%;
}

#form-tradeinspace .form-group {
	margin-bottom: 20px;
}

#form-tradeinspace .form-control {
	display: block;
	width: 100%;
	height: 43px;
	padding: 6px 16px;
	font-size: 16px;
	line-height: 1.42857143;
	color: rgb(51, 51, 51);
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 0;
	box-shadow: none;
}

#form-tradeinspace textarea.form-control {
	height: 90px;
}

#form-tradeinspace .form-control:focus {
	border-color: #1D80A9;
}

#form-tradeinspace .btn {
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	background: #010D31;
	border-radius: 0;
	border: none;
	text-shadow: none;
	padding: 12px 30px;
}

#form-tradeinspace .btn:hover,
#form-tradeinspace .btn:focus,
#form-tradeinspace .btn:active {
	background: #1E80A9;
}

@media screen and (max-width: 767px) {

	#form-tradeinspace {
		max-width: 767px;
		margin-top: 25px;
	}

}


#form-newsletter-signup>ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: table;
	width: 100%;
	height: 60px;
	margin-top: 28px;
}

#form-newsletter-signup>ul>li {
	display: table-cell;
	vertical-align: middle;
	margin: 10px 0;
}

#form-newsletter-signup>ul>li:last-child {
	text-align: right;
}

#form-newsletter-signup h2 {
	font-family: 'abeatbykairegular', 'Lato', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 36px;
	line-height: 1.1;
	padding-left: 67px;
	padding-right: 56px;
	position: relative;
	top: -5px;
	display: inline-block;
	vertical-align: top;
	font-weight: 300;
	letter-spacing: -.5px;
}

#form-newsletter-signup h2:before {
	content: '\f0e0';
	font-family: 'FontAwesome';
	font-size: 24px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -30px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	color: #fff;
	border: 2px solid #fff;
	background: #1E80A9;
	line-height: 48px;
	text-align: center;
}

#form-newsletter-signup h2:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-left: none;
	border-bottom: none;
	margin-top: -20px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#form-newsletter-signup input {
	min-width: 455px;
	margin: 0 20px 0 0;
	width: 100%;
	display: block;
	height: 47px;
	padding: 5px 23px;
	border-radius: 0;
	font-size: 15px;
	color: rgb(51, 51, 51);
}

#form-newsletter-signup button.btn {
	min-width: 180px;
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1;
	background: #1E80A9;
	border-radius: 0;
	border: none;
	text-shadow: none;
	padding: 13px 30px 14px;
}

#form-newsletter-signup button.btn:hover,
#form-newsletter-signup button.btn:focus,
#form-newsletter-signup button.btn:active {
	background: #28ACE4;
}

@media screen and (max-width: 1170px) {

	#form-newsletter-signup>ul>li:nth-child(2) {
		width: 40%;
	}

	#form-newsletter-signup h2 {
		padding-right: 0;
	}

	#form-newsletter-signup h2:after {
		display: none;
	}

	#form-newsletter-signup input {
		min-width: 240px;
		margin: 0;
	}

}

@media screen and (max-width: 1070px) {

	#form-newsletter-signup {
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
	}

	#form-newsletter-signup>ul {
		display: block;
		height: auto;
		margin-top: 28px;
	}

	#form-newsletter-signup>ul>li,
	#form-newsletter-signup>ul>li:nth-child(n) {
		display: block;
		width: 100%;
		text-align: left;
	}

	#form-newsletter-signup>ul>li:nth-child(1) {
		text-align: center;
	}

	#form-newsletter-signup button.btn {
		width: 100%;
	}

}

@media screen and (max-width: 600px) {

	#form-newsletter-signup h2 {
		font-size: 32px;
		top: 0;
	}

}

@media screen and (max-width: 400px) {

	#form-newsletter-signup h2 {
		font-size: 28px;
	}

}

@media screen and (max-width: 359px) {

	#form-newsletter-signup h2 {
		font-size: 24px;
	}

}

/*-------------------------------------------------*/
/* =  forms.end
/*-------------------------------------------------*/










/*-------------------------------------------------*/
/* =  footer.begin
/*-------------------------------------------------*/

.footer-tradeinspace {
	background: #0F0F0F;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 202px;
}

.footer-tradeinspace-line {
	display: block;
	margin: 25px auto 5px auto;
}

.footer-tradeinspace-bottom {
	color: #fff;
}

.footer-tradeinspace-copyright {
	font-size: 15px;
	line-height: 1;
	margin: 25px 0 10px;
}

@media screen and (max-width: 1200px) {

	.footer-tradeinspace {
		position: relative;
		height: auto;
	}

	.footer-tradeinspace .container {
		padding-bottom: 18px;
	}

}

@media screen and (max-width: 767px) {

	.footer-tradeinspace-bottom {
		text-align: center;
	}


}







/*-------------------------------------------------*/
/* =  footer.end
/*-------------------------------------------------*/